:root {
    --clr-primary: rgb(7, 121, 53);
    --clr-light: #f4f4f4;
    --clr-dark: #333;
    --clr-warning: rgb(99, 36, 36);
    --radius: 30px
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-primary);
    color: var(--clr-light);

    display: grid;
    grid: 
    "header header header header" auto
    "...... lists  active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}

.title {
    grid-area: header;
    text-align: center;
    font-size: calc(7vw + 1rem);
    font-weight: 900;
    color: rgba(0,0,0, 0.15);
    letter-spacing: 2px;
    margin: -0.3em 0 0.5em;

}

.all-tasks {
    grid-area: lists;
}

.task-list {
    font-size: 1.2rem;
    line-height: 1.7;
    list-style: circle;
    padding-left: 1.1em;
}

.list-name {
    cursor: pointer;
    transition: opacity 30ms ease-in;
}

.list-name:hover {
    opacity: 0.7;
}

form {
    display: flex;
}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
}
.btn.create {
    font-size: 1.5rem;
    font-weight: 900;
    margin-right: 0.25em;
    transition: opacity 100ms ease-in;
    margin-bottom: 0px;
}

.btn.create:hover {
    opacity: 0.7;
}

.btn.delete {
    opacity: 0.6;
    color: inherit;
    font-size: 1rem;
    transition: color 100ms ;
}

.btn.delete::hover {
    color: var(--clr-warning);
}

.new {
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    font-size: inherit;
    outline: none;
    transition: border-bottom 80ms ease-in;
    padding: 0.25em;

    order: 2;
}

.new::placeholder {
    opacity: 0.15 ;
}

.new:focus {
    border-bottom-width: 3px;
}

.new:focus::placeholder {
    opacity: 0.2;
}

.new.list {
    font-size: 1.1rem;
}

.active-list {
    font-weight: 700;
}

.new.task {
    margin-bottom: 0px;
}

.todo-list {
    --spacer: 2rem;

    grid-area: active;
    background-color: var(--clr-light);
    color: var(--clr-dark);
    border-radius: var(--radius);
}

.todo-header {
    padding: var(--spacer);
    background-color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.list-title {
    margin: 0 1rem 0 0; 
}

.task-count {
    margin: 0;
    font-size: 1rem;
}

.todo-body {
    padding: var(--spacer);
    position: relative;
}

.new-task-creator .create {
    color: var(--clr-primary) ;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;     
}

.task label{
    display: inline-flex;
    align-items: center;
    position: relative;
}

.task {
    position: relative; 
    margin-bottom: 1.25em;
}

.task::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5em;
    height: 1px;
    background-color: currentColor;
    opacity: 0.1;
}

.update-button {
    display: inline-block;
    background-color: var(--clr-primary);
    color: var(--clr-light);
    border: none;
    border-radius: var(--radius);
    padding: 0.5em 1em;
    margin-left: auto; /* Align the update-button to the right side */
    font-size: 1rem;
    cursor: pointer;
  }

.custom-checkbox {
    --size: 0.75em;
    display: inline-block;
    width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50px;
    transform: scale(1);
    transition: transform 100ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
    transform: scale(1.2);
    color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox{
    background: var(--clr-primary);
    border-color: var(--clr-primary);
    box-shadow: inset 0 0 0 2px white;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.task label::after {
    content: "";
    position: absolute;
    left: 1.5em;
    right: 0;
    height: 1.5px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 150ms ease-in;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
    transform-origin: left;
}

.delete-stuff {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -35px;
    color: var(--clr-light);
}

